// Primary Button 
.vs-btn {
  display: inline-block;
  border: none;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
  font-family: $title-font;
  border: 2px solid $theme-color;
  background-color: $theme-color;
  color: $white-color;
  line-height: 1;
  padding: 18px 30px;
  border-radius: 9999px;
  transition: all 0.5s ease;
  &:hover{
    color: $white-color;
    border-color: $secondary-color;
    background-color: $secondary-color;
  }
    // i{
    //   width: 54px;
    //   height: 54px;
    //   display: inline-flex;
    //   align-items: center;
    //   justify-content: center;
    //   color: $white-color;
    //   background-color: $title-color;
    //   border-radius: 50px;
    //   margin-left: 20px;
    // }
}


.vs-btn2 {
  display: inline-block;
  border: none;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
  font-family: $title-font;
  border: 2px solid $theme-color;
  background-color: $theme-color;
  color: $white-color;
  line-height: 1;
  padding: 5px 7px 5px 28px;
  border-radius: 9999px;
  transition: all 0.5s ease;
    i{
      width: 54px;
      height: 54px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
      background-color: $title-color;
      border-radius: 50px;
      margin-left: 20px;
      transition: all 0.5s ease;
    }
    &:hover{
      color: $white-color;
      border-color: $secondary-color;
      background-color: $secondary-color;
      i{
        background-color: $theme-color;
      }
    }
}


// Icon Btn
.icon-btn {
  width: var(--icon-size, 65px);
  height: var(--icon-size, 65px);
  line-height: var(--icon-size, 65px);
  background-color: $smoke-color;
  border: none;
  padding: 0;
  text-align: center;
  color: $title-color;
  border-radius: 50%;
  transition: all ease 0.4s;
  position: relative;
  z-index: 1;

  &:hover {
    color: $white-color;
    background-color: $secondary-color;
  }

}
// Icon Btn
.icon-btn2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  background-color: #0B3F46;
  border: none;
  line-height: 1;
  &:hover {
    // color: $white-color;
    background-color: $theme-color;
  }

}
.custom-arraw{
  .icon-arraw{
    border: 2px dashed #27565C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    transition: all 0.5s ease;
    &:not(:last-child){
      margin-right: 7px;
    }
    &:hover{
      border-color: $theme-color;
    }
  }
}


// Play Button 
.play-btn {
  display: inline-block;
  position: relative;
  z-index: 1;

  >i {
    display: inline-block;
    width: var(--icon-size, 104px);
    height: var(--icon-size, 104px);
    line-height: var(--icon-size, 104px);
    text-align: center;
    background-color: $theme-color;
    color: $white-color;
    font-size: var(--icon-font-size, 1.5em);
    border-radius: 50%;
    z-index: 1;
    transition: all ease 0.4s;
  }


  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $theme-color;
    @extend .ripple-animation;
    z-index: -1;
    border-radius: 50%;
    transition: all ease 0.4s;
  }

  &:after {
    animation-delay: 2s;
  }


  &:hover {

    &:after,
    &::before,
    i {
      background-color: $white-color;
      color: $title-color;
    }
  }

  
}


// Link Button
.link-btn {
  font-family: $title-font;
  color: $title-color;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  position: relative;
  text-transform: capitalize;
  transition: all ease 0.3s;

  i {
    margin-right: 7px;
  }

  &:hover {
    color: $theme-color;
  }
}


// Scroll To Top
.scroll-btn {
  position: fixed;
  bottom: 300px;
  right: 30px;
  z-index: 94;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  border-radius: 50%;

  i {
    display: inline-block;
    background-color: $theme-color;
    color: $white-color;
    text-align: center;
    font-size: 16px;
    width: var(--btn-size, 50px);
    height: var(--btn-size, 50px);
    line-height: var(--btn-size, 50px);
    z-index: 2;
    border-radius: inherit;
    position: relative;
    transition: all ease 0.8s;
  }

  &:before {
    content: '';
    position: absolute;
    left: var(--extra-shape, -6px);
    top: var(--extra-shape, -6px);
    right: var(--extra-shape, -6px);
    bottom: var(--extra-shape, -6px);
    background-color:$white-color;
    border-radius: inherit;
    z-index: 1;
    transition: all ease 0.4s;
  }

  &:focus,
  &:hover {
    i {
      background-color: $secondary-color;
      color: $white-color;
    }
  }

  &.show {
    bottom: 120px;
    opacity: 1;
    visibility: visible;
  }

  @include sm {
    --btn-size: 40px;
    --extra-shape: -4px;
    right: 15px;
    bottom: 50px;

    &.show {
      bottom: 15px;
    }
  }
}

.bar-btn {
  border: none;
  display: inline-block;
  padding: 0;
  line-height: 1;
  font-size: 25px;
  vertical-align: middle;
  background-color: transparent;
  width: 25px;
  height: 18px;
  position: relative;
  // overflow: hidden;

  .bar {
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      transition: all ease 0.4s;
      background-color: $white-color;
    }
    &:nth-child(2) {
      &:before {
        top: 50%;
        margin-top: -1.5px;
        width: 25px;
        right: -6px;
      }
    }
    &:nth-child(3) {
      &:before {
        top: auto;
        bottom: 0;
      }
    }
  }
}


@include sm {
  .play-btn {
    --icon-size: 60px;
  }
}

@include sm{
  .vs-btn2 i {
    width: 45px;
    height: 45px;
    margin-left: 12px;
  }
}