.image-scale-hover {
  overflow: hidden;

  img {
    transition: all ease 0.4s;
    transform: scale(1.001);
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.shape-mockup {
  position: absolute;
}

.z-index-step1 {
  position: relative;
  z-index: 4;
}

.z-index-common {
  position: relative;
  z-index: 3;
}
.z-index2 {
  position: relative;
  z-index: 2;
}

.z-index {
  z-index: 1;
}
.z-index-n1 {
  z-index: -1;
}


.media-body {
  flex: 1;
}

.badge {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  background-color: $theme-color;
  color: $black-color;
  padding: .35em .55em;
  border-radius: 50%;
}

.bg-colo1{
  background: rgb(215,214,214);
	background: linear-gradient(183deg, rgba(215,214,214,0) 0%, rgba(14,122,49,0.12088585434173671) 100%);
}
.custom-sheap{
  display: block;
}
.custome-sheap1{
  display: block;
}
@media (min-width: $hd) {
  .d-hd-none {
    display: none !important;
  }
}
@media (max-width: 1799px) {
  .custom-sheap{
    display: none;
  }
}
@media (max-width: 1680px) {
  .custome-sheap1{
    display: none;
  }
}