.widget {
  padding: 0;
  position: relative;
  margin-bottom: 45px;
  select,
  input {
    height: 38px;
    border: none;
    background-color: var(--input-bg, #F0F4F5);
    // border-radius: 9999px;
  }
}

.widget_title {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  margin: 0 0 10px 0;
  padding: 0 0 13px 28px;
  font-family: $title-font;

  &:before {
    content: '//';
    position: absolute;
    left: 0;
    height: 4px;
    width: 85px;
    color: $theme-color;
  }
}
.widget_about{
  margin-bottom: 40px;
}
.widget_search{
  margin-bottom: 0;
}
.widget_gallery{
  margin-bottom: 50px;
}

.widget {
  .search-form {
    position: relative;
    display: flex;
    border-bottom: 2px solid $border-color;
    padding-bottom: 15px;
    

    input {
      flex: 1;
      background-color: transparent;
      padding: 0;
      letter-spacing: 0.4px;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      height: 100%;
      font-family: $body-font;
      &::placeholder {
        color: #8B9595;
        letter-spacing: 0.4px;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    button {
      border: none;
      background-color: transparent;
      color: $white-color;
      padding: 0;
      margin: 0;
      color: $title-color;
      width: auto;
      font-size: 18px;
      display: inline-flex;
      align-items: end;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.widget_about{
  .title{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 13px;
  }
  .text{
    line-height: 160%;
    margin-bottom: 0;
  }
  img {
    margin-bottom: 30px;
    border-radius: 0 100px 0 0;
    width: 100%;
  }
} 

.sidebar-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;

  .gallery-thumb {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #96e191;

    img {
      transition: all ease 0.4s;
      width: 100%;
      height: 100%;
      transform: scale(1);
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--theme-color);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.4s;
    }

    .gal-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      width: var(--icon-size, 35px);
      height: var(--icon-size, 35px);
      margin: calc(var(--icon-size, 35px) / -2) 0 0
        calc(var(--icon-size, 35px) / -2);
      text-align: center;
      font-size: 18px;
      color: var(--white-color);
      background-color: transparent;
      border-radius: 50%;
      transition: all ease 0.4s;
      opacity: 0;
      visibility: hidden;
      z-index: 3;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1);
        background-color: var(--white-color);
        color: var(--theme-color);
      }
    }

    &:hover {
      &:before {
        opacity: 0.8;
        visibility: visible;
      }

      .gal-btn {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.1s;
      }

      img {
        transform: scale(1.12);
      }
    }
  }
}

.wp-block-tag-cloud,
.tagcloud {
  a {
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 9.5px 16.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: $text-color;
    background-color: $light-color;
    border-radius: 4px;

    &:hover {
      background-color: $theme-color;
      color: $white-color;
    }
  }
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  a {
    color: $text-color;
    background-color: $light-color;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin: 0;
    border-radius: 3px;
    padding: 11px 12px;
    border: 1px solid #DBE1E2;
  }
}

.recent-post {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .media-img {
    margin-right: 18px;
    img {
      width: 100%;
      border-radius: 6px;
    }
  }

  .post-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 -0.1em 0;
  }

  .recent-post-meta {
    margin: -0.15em 0 0 0;

    a {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 160%;
      color: $theme-color;

      i {
        margin-right: 5px;
        color: $theme-color
      }
    }
  }
}

.sidebar-area {
  margin-bottom: -10px;
  .newsletter-form{
    .vs-btn{
      &:hover{
        color: $secondary-color;
        background-color: $white-color;
      }
    }
  }
}


.widget_newsletter {
  background-color: $secondary-color;
  border: none;

  &:before {
    display: none;
  }

  .widget_title {
    color: $white-color;
    border-bottom-color: rgba(#e7e7e7, 0.14);
  }

  .form_text {
    color: #cfcfcf;
    margin-top: -0.45em;
  }

  input {
    height: 56px;
    color: #444444;
    margin-bottom: 15px;
    border-radius: 9999px;
  }

  .vs-btn {
    background-color: $theme-color;
    border-color: $theme-color;
    width: 100%;
    &:hover{
      border-color: $white-color;
    }
  }

}


.widget_shopping_cart {
  text-align: left;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .mini_cart_item {
    position: relative;
    border-bottom: 1px solid var(--theme-color);
    padding: 0 0 32px 0px;
    margin: 0 0 27px 0;
    min-height: 90px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    a {
      color: var(--title-color);
    }
    & > a > img {
      max-width: 80px;
      margin-right: 15px;
    }
  }

  .remove {
    position: absolute;
    right: 0;
    top: 0;
    color: $title-color;
    line-height: 1;
    font-size: 18px;

    &:hover {
      color: $theme-color;
    }
  }

  .img {
    position: absolute;
    left: 0;
    top: 3px;
    width: 90px;
    height: 90px;
    display: inline-block;
    border: 1px solid $border-color;
  }

  .product-title {
    font-size: 14px;
    color: $title-color;
    font-weight: 400;
    margin-bottom: 0;
    display: inline-block;
  }

  .amount {
    display: block;
    font-weight: 600;
    color: $black-color;
    font-size: 16px;
  }

  .quantity {
    display: inline-flex;
    margin-top: 0px;
  }

  .qut-btn {
    border: 1px solid $border-color;
    background-color: transparent;
    display: inline-block;
    background-color: transparent;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 12px;
    z-index: 1;
    position: relative;

    &:hover {
      background-color: $title-color;
      border-color: transparent;
      color: $white-color;
    }
  }

  .qty-input {
    border: 1px solid $border-color;
    text-align: center;
    width: max-content;
    min-width: 40px;
    font-size: 12px;
    padding: 0;
    height: 25px;
    margin: 0 -1px;
  }

  .subtotal {
    float: right;
    text-align: right;
    font-size: 12px;
    margin-top: 19px;

    > span:not(.amount) {
      color: $body-color;
      font-weight: 300;
    }

    .amount {
      font-size: 12px;
      display: inline-block;
    }
  }

  .total {
    color: var(--title-color);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .amount {
      font-size: inherit;
      display: inline-block;
      color: $black-color;
    }
  }

  .buttons {
    margin: 0;
    gap: 15px;
    .vs-btn{
      background-color: $theme-color;
      border-color: $theme-color;
      &:hover{
        background-color: $secondary-color;
        border-color: $secondary-color;
      }
    }
  }
}

.tagcloud2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span,
  a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-family: var(--title-font);
    color: $text-color;
    text-transform: capitalize;
    line-height: 160%;
  }
  span {
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 13px;
    color: var(--vs-theme-color);
  }
  a {
    margin-right: 9px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $theme-color;
    }
  }
}


.share-box{
  position: relative;
  ul{
    margin: 0;
    li{
      padding: 0;
      list-style: none;
    }
  }
  ul {
    position: absolute;
    right: 0;
    top: -35px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $smoke-color;
    border-radius: 4px;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 4px 0px rgba(var(--black-color-rgb), 0.07);
    line-height: 0;
    padding: 10px 15px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    &::after {
      position: absolute;
      content: "";
      background-color: transparent;
      bottom: -7px;
      right: 0px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $border-color;
  }
  }
  &:hover{
    ul{
      opacity: 1;
    }
  }
}

@include lg {
  .widget {
    --widget-padding-y: 30px;
    --widget-padding-x: 30px;
  }

  .recent-post {
    .post-title {
      font-size: 18px;
      line-height: 24px;
    }
  }
}


@include md {
  .sidebar-area {
    padding-top: 30px;
  }

  .wp-block-tag-cloud a,
  .tagcloud a {
    padding: 10.5px 18px;
  }
}

@include sm {
  .widget_title {
    font-size: 22px;
  }
  .widget,
  .widget_about {
    // margin-bottom: 0;
  }
}

@include xs {
  .widget {
    padding: 0px 15px;
  }
}