
.widget-area {
  padding-top: 80px;
  padding-bottom: 20px;
}
.footer-wrapper{
  .gallery-thumb{
    border: 3px solid $theme-color;
    border-radius: 10px;
  }
  .widget-area {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
.footer-layout1{
  // overflow: hidden;
  position: relative;
  // padding: 70px 0 0;
  .widget_categories{
    a{
      margin-bottom: 18px;
    }
  }
  .widget_title{
    position: relative;
    padding-bottom: 8px;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: var(--theme-color);
      bottom: -8px;
      z-index: 1;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 3px;
      background-color: #144F56;
      bottom: -8px;
      left: 0;
    }
  }
  .widget_categories{
    ul{
      column-count: 2;
      li{
        position: relative;
        padding-left: 22px;
        font-size: 15px;
        line-height: 150%;
        transition: all 0.5s ease;
        &::after{
          content: '\f101';
          position: absolute;
          left: 0;
          top: 0;
          font-size: 14px;
          color: $theme-color;
          font-family: $icon-font;
        }
        &:hover{
          transform: translateX(10px);
        }
      }
    }
  }
  .extra-space-top{
    padding-top: 240px;
  }
}
.common-line{
  text-align: center;
  width: 100%;
  img{
    width: 100%;
  }
}
.footer-wrapper{
  .vs-widget-about{
    padding-right: 50px;
  }
  .contact-box{
    margin-bottom: 25px;
  }
  .social-style1{
    .social-title{
      color: $theme-color;
      font-weight: 700;
    }
    .social-icon{
      a{
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: $title-color;
        border:1px solid #1C4F57;
        &:hover{
          color: $white-color;
          background-color: $theme-color;
          border-color: $theme-color;
        }

      }
    }
  }
}


.contact-box{
  display: flex;
  align-items: center;
  .contact-content {
    padding: 0 0 0 14px;
  }
  .contact-title{
    font-size: 22px;
    line-height: 145%;
    &:hover{
      a{
        color: $theme-color;
      }
    }
  }
  .contact-text{
    font-weight: 700;
    color: $theme-color;
    text-transform: capitalize;
    font-family: $title-font;
  }
  .icon{
    border-right: 1px solid #0B6538;
    padding-right: 14px;
  }
}



.media-style1{
  display: flex;
  padding-bottom: 30px;
  border-bottom: 3px solid #ffd90052;
  transition: all 0.5s ease;
  &:hover{
    border-color: $theme-color;
  }
    .media-icon{
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 50px;
      background-color: $theme-color;
      margin-right: 30px;
    }
    .media-body{
      .media-title{
        color:$white-color;
        text-transform: capitalize;
        font-size: 18px;
      }
      .media-info{
        font-size: 16px;
        color: $smoke-color;
        margin-bottom: 0;
        a{
          color: $white-color;
          transform: all 0.5s ease;
          &:hover{
            color: $theme-color;
          }
        }
      }
    }
}
.footer-social{
  a{
    color: $white-color;
    &:hover{
      color: $theme-color;
    }
    &:not(:last-child){
      margin-right: 18px;
    }
  }
}
.newsletter-form{
  .search-btn{
    position: relative;
    .form-control{
      margin-bottom: 0;
    }
    .icon-btn{
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $theme-color;
      &:hover{
        background-color: $secondary-color;
      }
    }
  }
}
.copyright-wrap {
  text-align: center;
  // padding: 32px 0;
  background-color: $title-color;
  position: relative;
}

.copyright-text {
  margin: 0;
  font-size: 16px;
  padding: 32px 0;
  font-weight: 500;
  color: $white-color;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -55px;
    height: 100%;
    bottom: 0;
    width: 99999px;
    background-color: var(--theme-color);
    transform: skewX(50deg);
    z-index: -1;
}

  a {
    font-weight: 700;
    color: $title-color;
    text-transform: capitalize;

    &:hover {
      color: $white-color;
    }
  }
}

.copyright-menu {
  ul {
    margin: 0;
  }

  li {
    margin-right: 20px;
    display: inline-block;
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: $white-color;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      color: $theme-color;
    }
  }
}

@include lg{
  .copyright-text::before{
    display: none;
  }
  .copyright-text{
    a{
      color: $theme-color;
      &:hover{
        color: $title-color2;
      }
    }
  }
}
@include md{
  .copyright-wrap {
    padding-bottom: 35px;
  }
}
@include md{
  .footer-layout2 {
    clip-path: none;
    padding-top: 80px;
  }
}
@include sm{
  .footer-wrapper .widget-area {
    padding-top: 60px;
  }
}
@include xs{
  .footer-wrapper{
    .vs-widget-about {
      padding-right: 0;
    }
  }
  .footer-layout1 .widget_categories ul {
    column-count: 1;
  }
}