.breadcumb-menu {
  max-width: 100%;
  padding: 0;
  margin: 12px 0 0 0;
  list-style-type: none;
  position: relative;
  text-align: left;

  li {
    display: inline-block;
    list-style: none;
    position: relative;
    &:after {
      content: '//';
      position: relative;
      margin-left: 12px;
      margin-right: 3px;
      color: $theme-color;
    }
    &:last-child {
      color: $theme-color;
      &:after {
        display: none;
      }
    }
  }

  li,
  a,
  span {
    word-break: break-word;
    white-space: normal;
    font-weight: 600;
    font-size: 18px;
    color: $white-color;
    font-family: $body-font;
    text-transform: uppercase;
  }

  .fa-home-lg {
    margin-right: 10px;
  }

  a:hover {
    color: $theme-color;
  }
}

.breadcumb-title {
  color: $white-color;
  margin: -0.25em 0 -0.2em 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 117%;
  text-transform: uppercase;
  text-align: left;
  span{
    color: $theme-color;
    display: inline-block;
  }
}

.breadcumb-wrapper {
  background-color: $secondary-color;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 165px;
}

@include sm{
  .breadcumb-title {
    font-size: 50px;
  }
}