.row>.slick-list {
  padding-left: 0;
  padding-right: 0;
}

.slick-track>[class*=col] {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

.slick-track {
  min-width: 100%;
}

.slick-slide img {
  display: inline-block;
}


.slick-dots {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
  line-height: 0;
  text-align: center;
  height: max-content;
  line-height: 0;

  li {
    display: inline-block;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }

  button {
    font-size: 0;
    padding: 0;
    background-color: transparent;
    width: 36px;
    height: 8px;
    line-height: 3px;
    border: none;
    background-color: transparent;
    border: 1px solid $theme-color;
    border-radius: 30px;
    transition: all ease 0.4s;
    position: relative;
  }

  button:hover,
  .slick-active button {
    background-color: $theme-color;
    // border-color: $secondary-color;
  }
}



.slick-arrow {
  display: inline-block;
  padding: 0;
  position: absolute;
  // background-color: $border-color;
  top: 50%;
  // border: none;
  left: var(--pos-x, -65px);
  max-width: 50px;
  max-height: 50px;
  // line-height: 50px;
  font-size: var(--icon-font-size, 18px);
  margin-top: calc(var(--icon-size, 120px) / -2);
  z-index: 2;
  border-radius: 50%;
  color: $white-color;
  border: 2px dashed $border-color;
  transition: all 0.5s ease;
  i {
    color: #7E999D;
    font-size: 18px;
    background-color: $border-color;
    width: 100%;
    height: 100%;
    padding: 14px;
    border-radius: 50%;
    transition: all 0.5s ease;
  }

  &.default {
    position: relative;
    --pos-x: 0;
    margin-top: 0;
  }

  &.slick-next {
    right: var(--pos-x, -65px);
    left: auto;
  }

  &:hover {
    // background-color: $theme-color;
    color: $white-color;
    border-color: $theme-color;
    i{
      color: $white-color;
      background-color: $theme-color;
    }
  }
}

.arrow-margin {
  .slick-arrow {
    top: calc(50% - 30px);
  }
}

.arrow-wrap {
  .slick-arrow {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .slick-arrow {
      opacity: 1;
      visibility: visible;
    }
  }
}



@include xl {
  .slick-arrow {
    --arrow-horizontal: -20px;
  }
}

@include ml {
  .slick-arrow {
    --arrow-horizontal: 40px;
  }
}

@include md {
  .slick-arrow {
    --icon-size: 40px;
    margin-right: 40px;

    &.slick-next {
      margin-right: 0;
      margin-left: 40px;
    }
  }

  .slick-dots {
    margin: 8px 0 38px 0;
  }
}