blockquote {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  font-family: $title-font;
  color: $title-color;
  background-color: var(--bg-color3);
  border-left: 4px solid $theme-color;

  padding: 43px 50px 42px 35px;
  margin: 35px 0;

  p {
    font-family: inherit;
    color: inherit;
    z-index: 3;
    width: 100%;
    margin-bottom: 0 !important;
    line-height: 1.5;
    position: relative;
  }

  &:before {
    content: '\e1e4';
    font-family: var(--icon-font);
    position: absolute;
    bottom: 30px;
    font-size: 46px;
    font-weight: 600;
    line-height: 1;
    color: var(--theme-color);
    left: 38px;
    top: 0;
  }

  p {
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }

  cite {
    color: $theme-color;
    font-family: $title-font;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding-left: 32px;
    line-height: 160%;
    margin-top: 10px;
    font-style: normal;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 4px;
      border-radius: 30px;
      background-color: $theme-color;
    }
  }
}

blockquote.vs-quote {
  text-align: left;
  padding: 0 30px 40px 110px;
  border-left: 0;
  background-color: transparent;
  border-bottom: 8px solid var(--theme-color);
  margin: 40px 0 38px;
  border-radius: 30px;
  p {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--title-font);
    line-height: 140%;
    color: $title-color;
    text-transform: capitalize;
    letter-spacing: 0.9px;
  }
  .quote-author {
    display: block;
    font-size: 14px;
    color: #74787c;
    font-family: $title-font;
    display: block;
    font-weight: 400;
  }
}
.wp-block-image{
  img{
    width: 100%;
    border-radius: 30px;
  }
}

.blog-meta {
  span,
  a {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: $secondary-color;
    text-transform: uppercase;
    font-family: $title-font;
    transition: all 0.5s ease;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 10px;
      color: $secondary-color;
      transition: all 0.5s ease;
    }
  }

  a:hover {
    color: $theme-color;
    i{
      color: $theme-color;
    }
  }
}

.blog-category {
  margin-bottom: -10px;

  a {
    display: inline-block;
    color: $white-color;
    padding: 4.5px 24.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: $theme-color;

    &:hover {
      background-color: $white-color;
      color: $body-color;
      border-color: $theme-color;
    }
  }
}

.blog-title {
  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}

.vs-blog {
  margin-bottom: 30px;
}

.share-links-title {
  font-size: 18px;
  color: $title-color;
  font-family: $title-font;
  font-weight: 700;
  margin: 0 15px 0 0;
  display: inline-block;
}

.share-links {
  margin: 50px 0 50px 0;
  padding: 17px 30px;
  background-color: $light-color;

  .row {
    align-items: center;
    --bs-gutter-y: 15px;
  }

  .tagcloud {
    display: inline-block;
  }

  .social-links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 16px;
      color: $title-color;
      text-align: center;
      display: block;
      border: 1px solid $border-color;
      border-radius: 50%;

      &:hover {
        color: $black-color;
        background-color: $theme-color;
        border-color: $theme-color;
      }
    }
  }
}


.blog-inner-author {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $body-font;
  color: $title-color;
  font-weight: 600;
  margin-bottom: 6px;
  span{
    line-height: 160%;
    display: inline-flex;
    a{
      margin-left: 6px;
    }
    &:hover{
      color: $title-color;
    }
  }
  a {
    color: $theme-color;
    i{
      margin-right: 8px;
    }
    &:hover{
      color: $title-color;
    }
  }

  .blog-date {
    line-height: 160%;
    &:not(:first-child){
      margin-left: 14px;
    }
  }
  
  img {
    width: 67px;
    height: 67px;
    padding: 3px;
    margin-right: 10px;
    background-color: $theme-color;
    border-radius: 50%;
  }
}

.blog-single {
  position: relative;
  margin-bottom: 50px;
  
  .blog-links{
    display: flex;
    justify-content: space-between;
    .link-btn{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      i{
        color: $theme-color;
        font-weight: 700;
        margin-right: 0;
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
  
  .blog-title {
    font-size: 36px;
    margin-bottom: 25px;
    line-height: initial;
  }
  .blog-meta {
    margin-bottom: 4px;
  }
  .blog-text {
    text-transform: capitalize;
    line-height: 160%;
    font-weight: 500;
  }


  .blog-img {
    position: relative;
    background-color: $smoke-color;
    margin: -1px;
    border-radius: 20px;
    img{
      width: 100%;
      border-radius: 20px;
    }
  }

  .blog-audio {
    line-height: 1;
  }

  .blog-img {
    .slick-arrow {
      --pos-x: 30px;
      border: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: $white-color;
      color: $secondary-color;
      border-radius: 50%;
      font-size: 20px;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
      }
    }

    .play-btn {
      --icon-size: 60px;
      --icon-font-size: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: calc(var(--icon-size) / -2) 0 0 calc(var(--icon-size) / -2);
    }
  }

  .blog-content {
    overflow: hidden;
    padding: 33px 0px 18px 0px;
    position: relative;

    border-bottom: 1px solid $border-color;
    position: relative;
    margin-bottom: 28px;
    line-height: 160%;
    &::before {
      position: absolute;
      content: '';
      border-bottom: 1px solid $border-color;
      display: block;
      width: 100%;
      left: 0;
      bottom: 1px;
    }
  }

  &:hover {
    .blog-img {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


.list-style1{
  .list-unstyled{
    img{
      margin-right: 15px;
    }
    li{
      margin-bottom: 10px;
    }
  }
}

.post-admin {
  border-radius: 0px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 37px 45px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: $title-color;
    border: 1px solid $border-color;
    z-index: -1;
    border-radius: 26px;
    // opacity: 70%;
  }

  .post-img {
    flex: 0 var(--image-size);
    --image-size: 137px;
    width: var(--image-size);
    height: var(--image-size);
    max-width: var(--image-size);
    max-height: var(--image-size);
    min-width: var(--image-size);
    min-height: var(--image-size);
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $theme-color;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .post-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    &__heading {
      margin-bottom: 0;
      color: var(--white-color);
      text-transform: capitalize;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 140%;
      gap: 18px;
      flex-wrap: wrap;
      a {
        &:hover {
          color: var(--theme-color);
        }
      }
      span {
        font-size: 15px;
        color: var(--theme-color);
      }
    }
  }
  .post-text {
    margin-bottom: 15px;
    padding-right: 0;
    color: $white-color;
    text-transform: capitalize;
    line-height: 160%;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 13px;
    a {
      color: $white-color;
      font-size: 13px;
      letter-spacing: 0.4px;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.vs-blog{
  &__style1{
    border-radius: 30px;
    background-color: $white-color;
    padding: 15px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    .blog-img{
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgb(16,156,61);
        background: linear-gradient(0deg, rgba(16,156,61,0.29735644257703087) 0%, rgba(255,255,255,0) 95%);
      }
      
      img{
        width: 100%;
        transform: scale(1);
        transition: all 0.5s ease;
        position: relative;
      }
    }
    .blog-cate{
      position: absolute;
      bottom: 0;
      background-color: $theme-color;
      left: 0;
      font-weight: 700;
      font-size: 15px;
      line-height: initial;
      color: $white-color;
      padding: 12px 40px 12px 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all 0.5s ease;
      clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
      z-index: 1;
      &:hover{
        background-color: $title-color;
      }
    }
    .blog-inner-author{
      .blog-date{
        color: #5F5D76;
        text-transform: capitalize;
        &:hover{
          color: $theme-color;
        }
      }
      i{
        color: $theme-color;
      }
    }
    .blog-title{
      font-size: 26px;
      font-weight: 600;
      line-height: normal;
    }
    .blog-content{
      padding: 27px 22px 25px 22px;
    }
    &:hover{
      .blog-img{
        img{
          transform: scale(1.1);
        }
      }
      .blog-btn{
        &::before{
          background-color: $theme-color;
        }
      }
    }
    &.style2{
      padding: 16px;
      .blog-content {
        padding: 25px 20px 25px 0px;
      }
    }
  }
}

.blog-btn{
  position: relative;
  .link-btn{
    .icon{
      border: 1.9px dashed $theme-color;
      display: inline-block;
      border-radius: 50%;
      margin-right: 14px;
      transition: all 0.5s ease;
    }
    i{
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $theme-color;
      color: $white-color;
      border-radius: 50%;
      margin: 1.5px;
      text-align: center;
      transition: all 0.5s ease;
    }
    &:hover{
      .icon{
        border-color: $title-color;
      }
      i{
        background-color: $title-color;
      }
    }
  }
  &::before{
    content: '';
    position: absolute;
    width: 26%;
    height: 2px;
    background-color: #8DB69A;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@include lg {
  blockquote {
    font-size: 20px;
    padding: 23px 30px 26px 30px;

    cite {
      font-size: 16px;
    }
  }
  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 30px;

    .blog-title {
      font-size: 30px;
    }    
  }
  .vs-blog__style1 .blog-title {
    font-size: 24px;
  }
}



@include sm {
  blockquote.vs-quote {
    padding: 40px 15px;

    p {
      line-height: 1.8;
    }
  }

  .share-links {
    padding: 17px 20px;
  }

  .share-links-title {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
  }
  
  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 20px;

    &:not(.has-post-thumbnail) {
      .blog-content {
        padding: 40px 0px 0px;
      }
    }

    .blog-title {
      font-size: 24px;
      line-height: 1.6;
    }

    .blog-meta {
      >span,
      a {
        &:not(:last-child){
          &:after {
            content: "";
            margin: 0 10px 0 14px;
          }
        }
      }
    }
  }

  .blog-details {
    &:not(.has-post-thumbnail) {
      .blog-content {
        padding: 0;
      }
    }
    .blog-single .blog-img {
      margin-bottom: 30px;
    }
  }
  .post-admin {
    display: block;
    .post-img {
      margin: 0 auto 30px;
    }
  }
}

