.book-layout1{
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(103 184 70 / 12%) 100%);
        z-index: -1;
    }
    .title-text{
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        height: 80px;
        line-height: 80px;
        
        a{
            color: $title-color;
            font-weight: 700;
            transition: all 0.5s ease;
            &:hover{
                color: $theme-color;
            }
        }
        .icon{
            margin-right: 16px;
        }
    }
    .vs-comment-form{
        .vs-btn{
            width: 100%;
            border-radius: 6px;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 12px;
            padding: 22px 30px;
        }
    }
    .book-img{
        text-align: right;
        margin-right: 50px;
    }
   
   
    .book-bg{
        max-width: 100%;
        height: 100%;
        clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
        top: 0;
        left: 56%;
        &::before {
            content: "";
            position: absolute;
            left: -7px;
            top: -35px;
            width: 11%;
            height: 100%;
            background: rgb(16, 156, 61);
            z-index: 1;
            transform: rotate(-167deg);
            // background: linear-gradient(180deg, rgba(16,156,61,0.11528361344537819) 0%, rgba(5,47,18,0.41220238095238093) 100%);
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgb(16,156,61);
            background: linear-gradient(180deg, rgb(0 26 8 / 23%) 0%, rgb(0 0 0 / 41%) 100%);
        }
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 875px;
            position: relative;
        }
    }
}

.video-box {
    z-index: 1;
    position: relative;
    text-align: center;
    display: inline-block;
    .video-title{
        color: $white-color;
        font-family: $title-font2;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.vs-comment-form{
    &.style2{
        margin-top: 38px;
        select, 
        .form-control, 
        .form-select, 
        textarea, 
        input {
            background-color:#E6EDE7;
            border-color: #CDD7D1;
            position: relative;
            &:focus{
                border-right: 5px solid $theme-color;
            }
        }
    }
}

@media (max-width: 1800px){
    .book-shape{
        display: none;
    }
    .book-layout1{
        background-color: $title-color;
        .book-img {
            text-align: center;
            margin-right: 50px;
        }
        .title-area .sec-title{
            color: $white-color;
        }
        .title-text{
            color: $white-color;
        }
    }
}


@media (max-width:$xll){
    .book-layout1 .book-img {
        text-align: center;
        margin-right: 50px;
    }
}





@include ml{
    .book-layout1{
        .title-area{
            color: $white-color;
            .sec-subtitle{
                color: $white-color;
                &::before{
                    background-color: $white-color;
                }
            }
            .sec-title{
                color: $white-color;
            }
        }
        .book-bg {
            clip-path: unset;
            top: 0;
            left: 0;
            width: 100%;
            &::before {
                display: none;
            }
            img{
                max-height: 100%;
                height: 100%;
            }
        }
    }
    .book-layout1{
        .book-img {
            text-align: center;
            margin-right: 0;
            margin-top: 60px;
        }
        .title-text{
            height: auto;
            line-height: initial;
            color: $white-color;
            a{
                display: block;
                color: $white-color;
            }
        }
    } 

    
}

@include md{
    .book-img{
        .play-btn {
            --icon-size: 104px;
        }
    }
}

@include sm{
    .book-layout1{
        background-color: $title-color;
    }
}