.vs-client{
    &__inner{
        display: inline-flex;
        align-items: center;
        .author-img{
            margin-right: 17px;
        }
    }
    &__subtitle{
        font-size: 22px;
        font-weight: 600;
        color: $theme-color;
    }
    &__text{
        font-size: 22px;
        color: $white-color;
        margin-bottom: 0;
        font-weight: 600;
    }
    &__layout1{
        position: relative;
        .title-area{
            margin-bottom: 20px;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16%;
            width: 99px;
            height: 10px;
            background-color: $theme-color;
        }
    }
    &__brand{
        padding: 40px;
        background-color: $title-color;
        border:2px solid #0D444B;
        text-align: center;
        transition: all 0.5s ease;
        img{
            // max-width: 150px;
            // max-height: 32px;
            text-align: center;
            margin: 0 auto;
        }
        &:hover{
            background-color: $theme-color;
        }
    }
}

.video-style1 {
    padding: 135px 0 110px;
    transform: translateY(-120px);
    border: 8px solid transparent;
    border-image: linear-gradient(4deg, rgba(16,156,61,1) 0%, rgba(255,255,255,0) 70%);
    border-image-slice: 1;
    z-index: 1;
    position: relative;
    &.background-image{
        background-size: auto !important;
    }
    .title-area{
        .sec-title{
            color: $white-color;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .video-area {
        margin-bottom: 30px;
    }
}



@include md{
    .video-style1 {
        transform: translateY(-60px);
    }
    .vs-service__layout1{
        .custome-space-bottom {
            padding-bottom: 40px;
        }
    }
}