.comment-respond {
  position: relative;
  background-color: $smoke-color;
  padding: 40px 40px 50px;
  border-radius: 10px;
  border: 1px solid #E7EBEB;

  .form-title {
    a#cancel-comment-reply-link {
      font-size: 0.7em;
      text-decoration: underline;
    }
  }

  .custom-checkbox.notice {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .row {
    --bs-gutter-x: 20px;
  }

  .form-control {
    height: 70px;
    background-color: $white-color;
    border: 2px dashed #9BACAE;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: $title-color;
  }
  textarea.form-control {
    min-height: 152px;
    padding: 25px 25px 30px;
  }

  .form-group > i {
    top: 20.5px;
  }

  .vs-custom-checkbox {
    padding-top: 10px;
    margin-bottom: 35px;
  }

  input[type='checkbox'] {
    & ~ label {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      color: $text-color;
      &:before {
        background-color: $white-color;
        border: 2px dashed $border-color;
        border-radius: 5px;
      }
    }

    &:checked {
      ~ label {
        &:before {
          background-color: $theme-color;
          border-color: transparent;
        }
      }
    }
  }

  .blog-inner-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .blog-inner-title + p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    line-height: 160%;
  }

  .form-text {
    margin-bottom: 25px;
  }
}

.question-form,
.review-form {
  .comment-respond {
    margin: 0 0 20px 0;
  }

  .form-control {
    background-color: transparent;
    border: 1px solid #e4e4e4;
  }

  .rating-select {
    display: flex;
    align-items: center;

    label {
      font-weight: 500;
      color: $title-color;
    }
  }
}

.review-form {
  .form-title {
    margin: 0 0 20px 0;
  }
}

.vs-comments-wrap {
  margin: var(--blog-space-y, 60px) 0 var(--blog-space-y, 60px) 0;

  .description p:last-child {
    margin-bottom: 0;
  }
  .blog-inner-title{
    line-height: 132%;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .form-inner {
    margin-top: 38px;
  }
  .comment-respond {
    margin: 30px 0;
  }

  pre {
    background: #ededed;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  blockquote {
    background-color: #eaf8f9;
  }

  li {
    margin: 0;
    .comment-ele {
      display: flex;
      width: 100%;
    }
  }

  .vs-post-comment {
    position: relative;
    position: relative;
    margin: 40px 0;
    background: $white-color;
  }
  .vs-post-inner{
    display: flex;
    align-items: center;
  }

  ul.comment-list {
    list-style: none;
    margin: -10px 0 0 0;
    padding: 0;

    ul,
    ol {
      ul,
      ol {
        margin-bottom: 0;
      }
    }
  }

  .comment-avater {
    margin-right: 25px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 50%;
    width: 118px;
    height: 118px;
    border: 4px solid $theme-color;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .comment-content {
    flex: 1;
    position: relative;
    padding: 18px 50px 22px 30px;
    border: 2px dashed #9BACAE;
    border-radius: 10px;
    margin-bottom: 13px;
  }

  .commented-on {
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    margin-top: 0em;
    font-weight: 600;
    color: $theme-color;
    font-family: $body-font;
    text-transform: uppercase;
    line-height: 160%;

    i {
      margin-right: 7px;
      font-size: 0.9rem;
    }
  }

  .name {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    display: flex;

    align-items: center;
    color: $title-color;
    line-height: 140%;
    text-transform: capitalize;
    gap: 18px;
    font-family: var(--title-font);
  }

  .comment-top {
    display: flex;
    justify-content: space-between;
  }

  .text {
    &:last-of-type {
      color: $text-color;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      margin: 0 0 0px 0;
      font-weight: 500;
      line-height: 160%;
    }
  }

  .children {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 70px;
  }

  .reply_and_edit {
    position: absolute;
    right: 0;
    top: 15px;
    line-height: 1;
  }

  .replay-btn {
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    font-family: var(--title-font);
    align-items: center;
    text-transform: uppercase;
    justify-content: flex-end;
    gap: 7px;
    letter-spacing: 0.4px;
    padding-left: 18%;

    i {
      margin-right: 0px;
      font-size: 13px;
      color: var(--vs-theme-color);
    }

    &:hover {
      color:$theme-color;
    }
  }

  .star-rating {
    font-size: 12px;
    margin-bottom: 10px;
    position: absolute;
    top: 5px;
    right: 0;
    width: 80px;
  }
}

.vs-comment-form{
  .form-inner {
    margin-top: 35px;
  }
}

.vs-comments-wrap.vs-comment-form {
  margin: 0;
  
}

@include lg {
  .vs-comments-wrap {
    .vs-post-comment {
      display: block;
      padding: 15px 15px;
      margin: 0;
    }
    .replay-btn{
      padding-left: 0%;
    }
    .star-rating {
      position: relative;
      top: 0;
      right: 0;
    }

    .comment-top {
      display: block;
    }

    .comment-avater {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .vs-post-inner{
      display: block;
    }
    .children {
      margin-left: 40px;
    }

    .reply_and_edit {
      position: relative;
      top: 0;
      margin: 15px 0 0 0;
    }
  }
}

@include sm {
  .vs-comments-wrap {
    .children {
      margin-left: 20px;
    }

    .name {
      font-size: 18px;
    }
  }
}
