


.vs-counter{
    &__layout1{
        background-color: $secondary-color;
        border-bottom: 6px solid $theme-color;
        overflow: hidden;
        .play-btn2{
            border-radius: 50%;
            border: 2px dashed $secondary-color;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            i{
                width: 96px;
                height: 96px;
                color: $white-color;
                font-size: 24px;
                background-color: $secondary-color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
            &:hover{
                border-color: $white-color;
                i{
                    color: $theme-color;
                }
            }
        }
        .title-area{
            margin-bottom: 0;
            .sec-subtitle{
                color: $white-color;
                margin-bottom: 6px;
                margin-left: 0;
                &::before{
                    display: none;
                }
                &::after{
                    right: -50px;
                    background-color: $white-color;
                }
            }
            .sec-title{
                color: $white-color;
                font-size: 30px;
                text-transform: uppercase;
                position: relative;
            }
        }
    }
    &__inner{
        display: inline-flex;
        align-items: center;
        position: relative;
        max-width: 440px;
        padding: 62px 40px 62px 0px;
        &::before {
            content: "";
            position: absolute;
            top: 0%;
            right: 0;
            height: 100%;
            bottom: 0;
            width: 99999px;
            background-color: var(--theme-color);
        }
    }
}

.counter-style1{
    padding-left: 20px;
    .media-count{
        display: inline-flex;
        align-items: center;
    }
    .media-title{
        margin-bottom: 0;
    }
    .media-inner{
        display: inline-flex;
        align-items: center;
    }
    .media-title{
        color: $white-color;
        font-family: $title-font;
        font-weight: 600;
    }
    .media-text{
        color: $text-color2;
        text-transform: capitalize;
        margin-bottom: 0;
        font-weight: 500;
        line-height: 160%;
    }
    .count-icon{
        color: $white-color;
        font-size: 36px;
        display: inline-block;
        font-weight: 500;
    }
    .counter-icon{
        margin-right: 15px;
    }
}

.counter-layout2{
    background-color: $theme-color;
    overflow: hidden;
    position: relative;
    .counter-icon{
        border: 2px dashed $white-color;
        border-radius: 50%;
        .icon{
            width: 82px;
            height: 82px;
            line-height: 82px;
            border-radius: 50%;
            display: block;
            text-align: center;
            background-color: $title-color;
            margin: 3px;
            img {
                transition: all 0.2s ease;
              }
              
        }
        &:hover{
            .icon{
                img{
                    filter: brightness(0) saturate(100%) invert(27%) sepia(92%) saturate(609%) hue-rotate(90deg) brightness(140%) contrast(98%);
                }
            }
        }
    }
    .media-title{
        font-size: 40px;
    }
    .media-text{
        color: #F1F1F1;
        text-transform: uppercase;
    }
    .counter-style1{
        padding: 100px 0;

    }
}

@include ml{
    .vs-counter__inner {
        padding: 100px 40px 100px 0px;
    }
}


@include lg{
    .vs-counter__inner {
        padding: 100px 20px 100px 20px;
    }
    .counter-style1{
        .media-style{
            text-align: center;
        }
    }
}

@include md{
    .counter-style1 {
        padding-left: 0;
    }
    .counter-layout2{
        .counter-style1{
            padding: 80px 0;
        }
    }
  
}

@include sm{
    .vs-counter__inner {
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }
    .vs-counter__inner::before{
        right: -5%;
    }
    .counter-style1 {
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .counter-style1{
        .media-style{
            text-align: center;
        }
    }
    .counter-layout2{
        .counter-icon {
            display: inline-block;
            margin-bottom: 5px;
        }
    } 
    .counter-style1{
        .media-inner {
            display: block;
        }
        .counter-icon{
            margin-right: 0;
        }
        .media-counter {
            margin-top: 10px;
        }
    }
    .vs-counter__inner {
        padding: 60px 40px 60px 0px;
    }
}

@media (max-width: 399px){
    .vs-counter__inner{
        display: block;
        padding: 60px 5px 60px 5px;
        justify-content: space-between;
        text-align: center;
        .play-video {
            margin-bottom: 30px;
        }
    }
}