.accordion-style1 {
  position: relative;
  height: 455px;
  max-height: 100%;
  z-index: 1;
  padding-top: 8px;
    .accordion-button {
      padding: 18px 52px 18px 34px;
      font-size: 20px;
      text-align: left;
      font-family: $title-font;
      font-weight: 600;
      line-height: 150%;
      position: relative;
      max-width: 100%;
      color: $title-color;
      text-transform: capitalize;
      background-color: $white-color;
      
      outline: none;
      box-shadow: none;
      border-radius: 10px;
      &.collapsed {
        border: 2px solid #E0E0E0;
        .number {
          background-color: $title-color;
          color: $white-color;
        }
      }
  
      &::before {
        content: "\f067";
        font-family: $icon-font;
        position: absolute;
        right: 30px;
        top: 50%;
        line-height: initial;
        transform: translateY(-50%);
        color: $theme-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        transition: all ease 0.4s;
      }
      &:hover{
        &::before{
          color: $title-color;
          // background-color: $secondary-color;
        }
        &:not(.collapsed) {
          &:before {
            color: $white-color;
          }
        }
      }
      &::after{
        display: none;
      }
      &:not(.collapsed) {
        color: $white-color;
        background-color: $theme-color;
        border-radius: 10px 10px 0 0;
        border: 2px solid transparent;
        &:before {
          content: "\f068";
          color: $white-color;
        }
      }
    }
    .accordion-body {
      padding: 24px 30px;
      // border: 2px solid #E0E0E0;
      border-left: 2px solid #E0E0E0;
      border-right: 2px solid #E0E0E0;
      border-bottom: 2px solid #E0E0E0;
      border-radius: 0 0 10px 10px;
      p{
        font-family: $body-font;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
        text-transform: capitalize;
        line-height: 170%;
      }
    }
    .accordion-item {
        border-bottom: none;
        background-color: $white-color;
        border-radius: 10px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 17%);
        &:not(:last-child){
            margin: 0 0 12px 0;
        }
    }
    .accordion-collapse{
        border: none;
    }
    &.layout2 {
      .accordion-button {
        max-width: 100%;
      }
  
      .accordion-item {
        padding: 0 0 36px 0;
        margin: 0 0 42px 0;
        border-color: #ebebeb;
  
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
  
        &:first-child {
          border-top: 1px solid #ebebeb;
          padding-top: 40px;
        }
      }
    }


    .accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type .accordion-collapse {
      border-bottom-width: 2px !important;
      // border-bottom-right-radius:10px;
      // border-bottom-left-radius: 10px;
      border-radius: 10px !important;
  }
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.faq-layout1{
  position: relative;
  overflow: hidden;
  background-color: $title-color;
    .vs-pagination{
        margin-top: 60px;
    }
    .faq-btn {
      margin-top: 35px;
  }
}

@include md{
  .faq-layout1 .faq-btn {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .accordion-style1 {
    height: auto;
  }
}