.social-style1 {
    display: inline-flex;
    align-items: center;
    .social-title{
        display: inline-block;
        font-size: 15px;
        font-family: $title-font;
        color: $white-color;
        position: relative;
        margin-right: 15px;
        padding-right: 14px;
        line-height: 165%;
        font-weight: 600;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            width: 1.5px;
            height: 22px;
            background-color: #51757A;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: '';
            position: absolute;
            right: -2px;
            width: 1px;
            height: 14px;
            background-color: #51757A;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    a {
        color: $white-color;
        font-size: 14px;
        margin-right: 6px;
        width: 36px;
        height: 36px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background-color: $theme-color;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $theme-color;
            background-color: $white-color;
        }
    }
}
